In [2]:
name=input("enter your name:")
city=input("enter your city:")

In [3]:
age=input("enter your age:")

In [4]:
x=int(input("enter a number A:"))
y=int(input("enter a number B:"))
x+y

13

In [1]:
p=int(input("enter a number P:"))
r=int(input("enter a number R:"))
t=int(input("enter a number T:"))
si=(p*r*t)/100

In [5]:
print("sugar rush ride")
print(x,y)

sugar rush ride

In [1]:
print("our summer,'x','y'")

our summer,'x','y'

In [11]:
print(x,y,name,age,city,sep="\nðŸŽ€")

5
ðŸŽ€8
ðŸŽ€vidushi
ðŸŽ€19
ðŸŽ€lucknow

In [9]:
print(x)
print(y)
print(name)
print(age)
print(city)

5
8
vidushi
19
lucknow

In [10]:
print("hi",end=',')
print("there")

hi,there

In [12]:
print(f'adding {x} with {y} will give {x+y}')

adding 5 with 8 will give 13

In [13]:
a = 10
b = 3
print(f'{a}/{b} = {a/b:.2f}')

10/3 = 3.33

In [14]:
a = 10
b = 3
print(f'{a}/{b} = {a/b:.1f}')

10/3 = 3.3

address = ashiana,lko

In [17]:
address = ('aashiana,lko')

In [30]:
print(f'{"name":10}{name:>35}')
print(f'{"age":10}{age:>35}')
print(f'{"city":10}{city:>35}')
print(f'{"address":10}{address:>35}')

name                                  vidushi
age                                        19
city                                  lucknow
address                          aashiana,lko

In [31]:
import math

In [33]:
a = float(input("enter a"))
b = float(input("enter b"))
h = math.sqrt(a*a + b*b)
print (h)

5.0