In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ':
    ascii =  ord(letter)
    print(f'character{letter} ASCII value {ascii}')

characterA ASCII value 65
characterB ASCII value 66
characterC ASCII value 67
characterD ASCII value 68
characterE ASCII value 69
characterF ASCII value 70
characterG ASCII value 71
characterH ASCII value 72
characterI ASCII value 73
characterJ ASCII value 74
characterK ASCII value 75
characterL ASCII value 76
characterM ASCII value 77
characterN ASCII value 78
characterO ASCII value 79
characterP ASCII value 80
characterQ ASCII value 81
characterR ASCII value 82
characterS ASCII value 83
characterT ASCII value 84
characterU ASCII value 85
characterV ASCII value 86
characterW ASCII value 87
characterX ASCII value 88
characterY ASCII value 89
characterZ ASCII value 90

In [4]:
n = int(input('enter a num'))
for i in range(1,11):
    m = n*i
    print(f'{n} x {i} = {m}')

33 x 1 = 33
33 x 2 = 66
33 x 3 = 99
33 x 4 = 132
33 x 5 = 165
33 x 6 = 198
33 x 7 = 231
33 x 8 = 264
33 x 9 = 297
33 x 10 = 330

In [7]:
s = 0
for i in range(1,101):
   if i % 2 == 0:
      s = s+i
print(s)

2550

In [3]:
n = int(input('enter a number'))
i = 1
c = 0
while i <= n:
    if  n % i == 0:
         c = c+1
    i = i+1
if c == 2:
    print(f'{n} is a prime number')
else:
     print(f'{n} is not a prime number')

2 is a prime number

In [13]:
n = int(input('enter a number'))
factorial = 1
if n < 0:
    print(f'{n} not a factorial') 
else:
 for i in range(1,n+1):
    factorial = factorial*i
print(f'the factorial of {n} is {factorial}')

the factorial of 7 is 5040

In [26]:
a = 0
b = 1
limit = 15
print('fibonacci series upto {limit} limit')
while(a <= limit):
    print(a, '' )
    a,b = b, a+b

fibonacci series upto {limit} limit
0
1
1
2
3
5
8
13

In [54]:
a = (1,42,12,21,34,33,12,9,3,38)
max = a[0]  
for i in a:
  if i > max:
    max = i
    print(f'largest number in array {max}')

largest number in array 42

In [55]:
a = (23,231,45,75,32,76,32,65,53)
max = a[0]
min = a[0]
for i in a:
    if i > max:
      max = i
      print(f'largest number in array {max}')
else:
     i < min
min = 1
print(f'smallest number in array {min}')

largest number in array 231
smallest number in array 1

In [52]:
a = (21,3,213,57,34,56,78,32,78,43)
min = a[0]
for i in a:
    if i < min:
        min = 1
        print(f'smallest number in array {min}')

smallest number in array 1

In [91]:
d = (input('enter a num'))
sum = 0
for d in str(n):
 sum += int(d)
print = (sum)

In [2]:
num = 123456
rev = 0
while num > 0:
 last_digit = num % 10
 rev = rev * 10 + last_digit
 num = num // 10
 print(f'{num:10} {last_digit:5} {rev:10}')

     12345     6          6
      1234     5         65
       123     4        654
        12     3       6543
         1     2      65432
         0     1     654321

In [7]:

p = input('enter a number')
i = 0
for i in range(len(p)):
    if p[i]!= p[-1-i]:
     print('the number is not palindrome')
else:
    print('the number is palindrome')

the number is palindrome

In [28]:
yr = input('enter year')
if (yr % 4) == 0:
    print('leap year')
else:
    print('not a leap year')

In [25]:
num_list =[10, 20.5, 30]
res1 = 0
for num in num_list:
    res1 += num
    avg1 = res1 / len(num_list)
    print(f'average is {avg1}')
    break
    print(f'sum is {res1}')

average is 3.3333333333333335

In [27]:
num_list =[10, 20.5, 30]
res1 = 0
for num in num_list:
    res1 += num
    avg1 = res1 / len(num_list) 
    print(f'sum is {res1}')
    break
    print(f'average is {avg1}')

sum is 10

In [16]:
sentence = 'this is me'
for word in Sentence:
 newWords = Sentence[::-1]
print(f'{newWords}')

em si siht

In [1]:
string = input('enter string')
vowels = 0 
for i in string:
    if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
     vowels = vowels + 1
print(f'number of vowels {string}')
print(f'vowels {string}')

number of vowels vidushi
vowels vidushi