In [1]:
x = 123453
list(str(x))

['1', '2', '3', '4', '5', '3']

In [6]:
movies = ['me before you',
    'avengers',
    'it',
    'it 2',
    'spiderman',
    'the dark knight',
    'rampage',
    'iron man',
    'titanic',
    'avatar' ]
print (len(movies))

10

In [7]:
for title in movies:
    print(f'{title:40} {len(title)} chars')

me before you                            13 chars
avengers                                 8 chars
it                                       2 chars
it 2                                     4 chars
spiderman                                9 chars
the dark knight                          15 chars
rampage                                  7 chars
iron man                                 8 chars
titanic                                  7 chars
avatar                                   6 chars

In [10]:
for title in movies:
  if 'a' in title:
    print(f'{title:40} {len(title)} chars')

avengers                                 8 chars
spiderman                                9 chars
the dark knight                          15 chars
rampage                                  7 chars
iron man                                 8 chars
titanic                                  7 chars
avatar                                   6 chars

In [16]:
books = [
 ['Warbreaker','Brandon Sanderson',10],
['Don Quixote','Miguel de Cervantes',10],
['Lord of the Rings',' J.R.R. Tolkien',10],
['The hero of ages','Brandon Sanderson',10],
['Rythem of war','Brandon Sanderson',10],
['The eye of the world','vidhushi',10],
['Beach Red','Emily Henry',10],
['Vision in white','Nora Roberts',10],
['The Outlander','Diana Gabaldon',10],
['The hating game','Sally Throne',10]
]
print(len(books))

10

In [17]:
for book in books:
    for field in book:
        print(field)
        print()

Warbreaker

Brandon Sanderson

10

Don Quixote

Miguel de Cervantes

10

Lord of the Rings

 J.R.R. Tolkien

10

The hero of ages

Brandon Sanderson

10

Rythem of war

Brandon Sanderson

10

The eye of the world

vidhushi

10

Beach Red

Emily Henry

10

Vision in white

Nora Roberts

10

The Outlander

Diana Gabaldon

10

The hating game

Sally Throne

10

In [18]:
for book in books:
    print(f'title: {book[0]}')
    print(f'author: {book[1]}')
    print(f'rating: {book[2]}')
    print()

title: Warbreaker
author: Brandon Sanderson
rating: 10

title: Don Quixote
author: Miguel de Cervantes
rating: 10

title: Lord of the Rings
author:  J.R.R. Tolkien
rating: 10

title: The hero of ages
author: Brandon Sanderson
rating: 10

title: Rythem of war
author: Brandon Sanderson
rating: 10

title: The eye of the world
author: vidhushi
rating: 10

title: Beach Red
author: Emily Henry
rating: 10

title: Vision in white
author: Nora Roberts
rating: 10

title: The Outlander
author: Diana Gabaldon
rating: 10

title: The hating game
author: Sally Throne
rating: 10

In [1]:
prices = [239,455,133,5748,None,4000,300,100]

for price in prices:
    print(price)

239
455
133
5748
None
4000
300
100

In [2]:
prices = [239,455,133,5748,None,4000,300,100]

for price in prices:
    if price is None:
        break
    print(price)

239
455
133
5748

In [3]:
data = [149,None,223,444,190,None,322,903,None,99,]

for price in data:
    if price is None:
        continue
    print(price)

149
223
444
190
322
903
99

In [5]:
names = ['Alexa','Mac','Harry','Vidushi']
for idx,name in enumerate(names):
    print(idx,name)

0 Alexa
1 Mac
2 Harry
3 Vidushi

In [10]:
names = ['Alexa', 'Mac', 'Harry', 'Vidushi']

for name in enumerate(names):
    print(name)

(0, 'Alexa')
(1, 'Mac')
(2, 'Harry')
(3, 'Vidushi')

In [15]:
grocery = ['breadðŸž', 'milkðŸ¥›', 'butterðŸ§ˆ', 'cheeseðŸ§€']
prices = [20, 30, 10, 50]
qtys = [2, 1, 2, 1]

for g, p, q in  zip(grocery, prices, qtys):
    print(f'{g:10} {p:5} {q:5} {p*q:5}')

breadðŸž        20     2    40
milkðŸ¥›         30     1    30
butterðŸ§ˆ       10     2    20
cheeseðŸ§€       50     1    50

In [16]:
num = 10
for i in range(2,num):
    if num % i == 0:
        print(i)

2
5

In [17]:
num = 50
for i in range(2,num):
    if num % i == 0:
        print (f'{num} => not a prime')
        print(i)

50 => not a prime
2
50 => not a prime
5
50 => not a prime
10
50 => not a prime
25

In [18]:
num = 50
for i in range(2,num):
    if num % i == 0:
        print (f'{num} => not a prime')
        break
    else:
        print(f'{num} =>prime')

50 => not a prime

In [23]:

n = int(input('enter a number'))
i = 1
c = 0
while i <= n:
    if n % i == 0:
        c = c+1
    i = i+1
if c == 2:
    print(f'{num} => prime')
else:
    print(f'{num} =>not a prime')

0 => prime

In [19]:
num = 123456
rev = 0
while num > 0:
    last_digit = num % 10 # remainder
    rev = rev * 10 + last_digit
    num = num // 10 # quotient
    print(f'{num:10} {last_digit:5} {rev:10}')

     12345     6          6
      1234     5         65
       123     4        654
        12     3       6543
         1     2      65432
         0     1     654321

In [1]:
username = 'admin'
password = 'admin123'
while True:
    u = input('username:')
    p = input('password:')
    if u == username and p == password:
        print('logged in')
        break
    else:
        print('invalid')
        continue

logged in