In [1]:
x =(1,2,3)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [2]:
y = 1,2,3,5           # tuple packing
print(y)
print(type(y))

(1, 2, 3, 5)
<class 'tuple'>

In [3]:
z = tuple([1,2,3,4,5])        # tuple from a iterable
zs = tuple('hello')           # tuple from a iterable
print(z)
print(zs)

(1, 2, 3, 4, 5)
('h', 'e', 'l', 'l', 'o')

In [4]:
x = (1,2,2,4,6,3,242,42,1,54,674)
print(x.count(2))
print(x.count(1))

2
2

In [8]:
z = (2,)             # single element tuple needs a comma
print(z)
print(type(z))

(2,)
<class 'tuple'>

In [9]:
x

(1, 2, 2, 4, 6, 3, 242, 42, 1, 54, 674)

In [10]:
a = x
print(a)
a, b, c, d = y    #tuple unpacking
print(a,b,c,d)
# a,b = y # too m
# any values to unpack (expected 2)
#a,b,c,d,e = y # not enough value to unpack (expected 5, got 4)

(1, 2, 2, 4, 6, 3, 242, 42, 1, 54, 674)
1 2 3 5

In [11]:
a, b, *c = y # tuple unpacking
print(a,b,c)
a, *b = y
print(a,b)
a, *b, c = y
print(a,b,c)
*a, b = y
print(a,b)

1 2 [3, 5]
1 [2, 3, 5]
1 [2, 3] 5
[1, 2, 3] 5

SET

In [17]:
x = {2,1,3,4,6,7,8,9}
print(x)

{1, 2, 3, 4, 6, 7, 8, 9}

In [16]:
fruits = {'apple', 'orange', 'banana', 'apple', 'orange'}
print(fruits)

{'orange', 'apple', 'banana'}

In [19]:
fruits.add('grape')
print(fruits)
fruits.add('apple')
print(fruits)

{'orange', 'apple', 'banana', 'grape'}
{'orange', 'apple', 'banana', 'grape'}

In [20]:
fruits.discard('apple')
print(fruits)
fruits.discard('custord apple')
print(fruits)

{'orange', 'banana', 'grape'}
{'orange', 'banana', 'grape'}

In [21]:
a = {1,2,3,4,5,6,7,8,9,0}
b = {1,2,3,4,5}
c = {6,7,8,9,10,3,4,2}
d = {1,2,3,4,5,6,7}
e = {11,17,12,15,13}

In [22]:
print(b | c)
print(b.union(c))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [24]:
print(b & c)            # intersection
print(b.intersection(c))

{2, 3, 4}
{2, 3, 4}

In [25]:
print(b - c)          # difference
print(b.difference(c))

{1, 5}
{1, 5}

In [26]:
print(b ^ c)
print(b.symmetric_difference(c))

{1, 5, 6, 7, 8, 9, 10}
{1, 5, 6, 7, 8, 9, 10}

In [28]:
print(a.issuperset(b))
print(b.issubset(a))
print(b.isdisjoint(c))
print(b.isdisjoint(e))

True
True
False
True